@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Oswald&family=Rampart+One&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    text-align: center;
    background-color: #000;
    color: aliceblue;
    font-size: 30px;
    font-family: 'Rampart One', cursive;
}
.contenedor{
    width: 100%;
    height: auto;
    background-color: #2ECC71;
    border: 5px solid #000;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap:20px; 
}
.item{
    background-color: rgb(209, 206, 198);
    border: 3px solid #000;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.item1{
    background-image: url(img/img1.jpg);
    
}
.item:hover{
    transform: scale(1.09);
    transition: all 0.9s;
}
.item2{
    background-image: url(img/img2.jpg);
}
.item3{
    background-image: url(img/img3.jpg);
}
.item4{
    background-image: url(img/img4.jpg);
}
.item5{
    background-image: url(img/img5.jpg);
}
.item6{
    background-image: url(img/img6.jpg);
}
.item7{
    background-image: url(img/img7.jpg);
}
.item8{
    background-image: url(img/img8.jpg);
}
@media only screen and (min-width: 480px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (min-width: 800px){
    .contenedor{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:
    "img1 img2 img3 img3"
    "img1 img4 img5 img6"
    "img7 img4 img8 img8";
    }
    .item{
        filter: sepia(100%);
    }
    
    .item1{
        grid-area: img1;
        background-image: url(img/img1.jpg);
        
    }
    .item:hover{
        transform: scale(1.09);
        transition: all 0.9s;
        filter: sepia(0%);
    }
    .item2{
        grid-area: img2;
        background-image: url(img/img2.jpg);
    }
    .item3{
        grid-area: img3;
        background-image: url(img/img3.jpg);
    }
    .item4{
        grid-area: img4;
        background-image: url(img/img4.jpg);
    }
    .item5{
        grid-area: img5;
        background-image: url(img/img5.jpg);
    }
    .item6{
        grid-area: img6;
        background-image: url(img/img6.jpg);
    }
    .item7{
        grid-area: img7;
        background-image: url(img/img7.jpg);
    }
    .item8{
        grid-area: img8;
        background-image: url(img/img8.jpg);
    }
    .img1{
        grid-template-columns: 1/3;
        grid-row: 1/2;
    }
}

